
.row{
    margin-right: auto;
    margin-left: auto; 
    
    
}

body {
    width: 100%;
    background-image: url("../images/light-grey-terrazzo.png");
}

header {
    width: 100%;
    background-color: peachpuff;
    text-align: center;
    color: darkslategray;
}

.rules {
    width: 100%;
    
    font-size: 16px;
}

.crystal {

    width: 100px;
    height: 100px;
    margin: 2px;
}

.gameRow {
    background-color: peachpuff;
    margin-top: 2rem;
    padding: 2rem;
    
}
