
.row {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/light-grey-terrazzo.png");
}

.rules {
    width: 100%;
    text-align: center;
}

.crystal {

    width: 100px;
    height: 100px;
}