
.row{
    margin-right: auto;
    margin-left: auto; 
    
    
}

body {
    width: 100%;
    background-image: url("../images/Cave.jpg");
}

header {
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.rules {
    width: 100%;
    font-size: 16px;
 }

 /* .wrapper {
  
    background: rgb(200, 54, 54);
   
    background: rgba(200, 54, 54, 0.5);
 } */

.crystal {

    width: 100px;
    height: 100px;
    margin: 2px;
    
}

.crystal img{
    
}

.gameBoxes {
    width: 300px;
    height: 200px;
   
}



#collected {
   text-align: center;
}
